<?xml version="1.0" encoding="utf-8"?>
<configuration scan="true" scanPeriod="1 minute">
    <!-- Properties and variables -->
    <property name="log.pattern" value="%date %-5level %logger{15} - %message %n"/>
    <property name="log.color.pattern" value="%date %highlight(%-5level) %cyan(%logger{15}) - %message %n"/>
    <property name="log.history" value="7"/>
    <property name="log.level" value="${MS_LOG_LEVEL:-DEBUG}"/>
    <property name="core.log.level" value="${log.level}"/>
    <property name="log.encoding" value="UTF-8"/>
    <property name="log.folder" value="${MS_LOG_FOLDER:-./logs}"/>

    <!-- Appenders -->
    <appender name="rollingADFLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/cd_adf.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.history}</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>${log.encoding}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <prudent>true</prudent>
    </appender>
    <appender name="rollingCoreLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/cd_core.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.history}</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>${log.encoding}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <prudent>true</prudent>
    </appender>
    <appender name="rollingSessionLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/cd_session.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.history}</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>${log.encoding}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <prudent>true</prudent>
    </appender>
    <appender name="appender.dxa" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/dxa.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.history}</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>${log.encoding}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <prudent>true</prudent>
    </appender>
    <appender name="appender.cache" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/dxa.cache.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.history}</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>${log.encoding}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <prudent>true</prudent>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <charset>${log.encoding}</charset>
            <pattern>${log.color.pattern}</pattern>
        </encoder>
    </appender>

    <!-- Loggers -->
    <logger name="com.sdl.web.client.cache" level="${core.log.level}" additivity="false">
        <appender-ref ref="appender.cache"/>
    </logger>

    <logger name="com.tridion" level="${core.log.level}">
        <appender-ref ref="rollingCoreLog"/>
    </logger>
    <logger name="com.tridion.storage.persistence.session" level="${core.log.level}">
        <appender-ref ref="rollingSessionLog"/>
    </logger>
    <logger name="com.tridion.storage.session" level="${core.log.level}">
        <appender-ref ref="rollingSessionLog"/>
    </logger>

    <logger name="com.sdl.web" level="${core.log.level}">
        <appender-ref ref="rollingCoreLog"/>
    </logger>

    <logger name="org.ehcache" level="${log.level}" additivity="false">
        <appender-ref ref="appender.cache"/>
    </logger>
    <logger name="org.terracotta" level="${log.level}" additivity="false">
        <appender-ref ref="appender.cache"/>
    </logger>

    <logger name="com.sdl.web.ambient" level="${log.level}">
        <appender-ref ref="rollingADFLog"/>
    </logger>
    <logger name="com.tridion.ambientdata" level="${log.level}">
        <appender-ref ref="rollingADFLog"/>
    </logger>

    <logger name="com.sdl.dxa" level="${log.level}">
        <appender-ref ref="appender.dxa"/>
    </logger>
    <logger name="com.sdl.webapp" level="${log.level}">
        <appender-ref ref="appender.dxa"/>
    </logger>
    <logger name="org.dd4t" level="${log.level}">
        <appender-ref ref="appender.dxa"/>
    </logger>

    <logger name="org.apache.http" level="INFO">
        <appender-ref ref="appender.dxa"/>
    </logger>

    <logger name="org.springframework" level="${log.level}">
        <appender-ref ref="appender.dxa"/>
    </logger>

    <root level="${log.level}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
